        <div class="col-md-10">
          <div class="card bg-inverse text-light card-outline-primary">
            <div class="container">
              <form method="POST" action="/add-event"> 
                <div class="form-group bg-inverse">
                  <label for="formGroupInput" class="text-white">Name</label>
                  <input type="text" class="form-control" name="name" id="formGroupInput">
                </div>
                <!-- form-group end -->
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group bg-inverse form-group-inline">
                      <label for="start-time-picker" class="text-white">Start</label>
                      <input type="text" class="form-control" name="startTime" id="start-time-picker">
                    </div>
                    <!-- form-group end -->
                  </div>
                  <!-- column end -->
                  <div class="col-12 col-sm-6">
                    <div class="form-group bg-inverse form-group-inline">
                      <label for="end-time-picker" class="text-white">End</label>
                      <input type="text" class="form-control" name="endTime" id="end-time-picker">
                    </div>
                  </div>
                  <!-- column end -->
                </div>
                <!-- row end -->
                <div class="form-group">
                  <label for="event-description-text-area" class="text-white">Description</label>
                  <textarea class="form-control" id="event-description-text-area" name="description" rows="5"></textarea>
                </div>
                <!-- form-group end -->
            </div>
            <!-- container end -->
          </div>
          <!-- card end -->
        </div>
        <!-- column end -->
      </div>
      <!-- row end -->
      <div class="row">
        <div class="col-12 col-md-10 offset-md-2" style="padding-top:10px;">
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
        <!-- column end -->
      </div>
      <!-- row end -->
              </form>
              <!-- form end -->
    </div>
    <!-- container end -->
    <script>flatpickr("#start-time-picker", {enableTime: true});</script>
    <script>flatpickr("#end-time-picker", {enableTime: true});</script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
