<!DOCTYPE html>
<html>
  <head>
    <title>Event Planner - Add Event</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  </head>
  <body class="container bg-inverse">
    <nav class="navbar bg-inverse d-none d-sm-block">
      <div class="row">
        <div class="col-5 offset-md-2 mt-1">
          <h3 class="navbar-text text-white">Add Event</h3>
        </div>
        <div class="col mt-3">
          <a class="navbar-link text-primary float-right" href="/logout">Log Out</a>
        </div>
        <!-- column end -->
      </div>
      <!-- row  end -->
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <a class="btn btn-outline-primary text-white w-100" href="events">Events</a>
          <a class="btn active btn-outline-primary text-white w-100" href="add">Add</a>
          <a class="btn btn-outline-primary text-danger d-sm-none w-100" href="/logout">Log Out</a>
        </div>
        <!-- column end -->
        <div class="col-md-10">
          <div class="card bg-inverse text-light card-outline-primary">
            <div class="container">
              <form>
                <div class="form-group bg-inverse">
                  <label for="formGroupExampleInput" class="text-white">Name</label>
                  <input type="text" class="form-control" id="formGroupExampleInput">
                </div>
                <!-- form-group end -->
                <div class="row">
                  <div class="col-12 col-sm-6">
                    <div class="form-group bg-inverse form-group-inline">
                      <label for="start-time-picker" class="text-white">Start</label>
                      <input type="text" class="form-control" id="start-time-picker">
                    </div>
                    <!-- form-group end -->
                  </div>
                  <!-- column end -->
                  <div class="col-12 col-sm-6">
                    <div class="form-group bg-inverse form-group-inline">
                      <label for="end-time-picker" class="text-white">End</label>
                      <input type="text" class="form-control" id="end-time-picker">
                    </div>
                  </div>
                  <!-- column end -->
                </div>
                <!-- row end -->
                <div class="form-group">
                  <label for="event-description-text-area" class="text-white">Description</label>
                  <textarea class="form-control" id="event-description-text-area" rows="5"></textarea>
                </div>
                <!-- form-group end -->
              </form>
              <!-- form end -->
            </div>
            <!-- container end -->
          </div>
          <!-- card end -->
        </div>
        <!-- column end -->
      </div>
      <!-- row end -->
      <div class="row">
        <div class="col-12 offset-md-2 col-sm-6 col-md-5" style="padding-top:10px;">
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
        <!-- column end -->
        <div class="col-12 col-sm-6 col-md-5" style="padding-top:10px;">
          <button type="submit" class="btn btn-danger float-sm-right w-100">Delete</button>
        </div>
        <!-- column end -->
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
    <script>flatpickr("#start-time-picker", {enableTime: true});</script>
    <script>flatpickr("#end-time-picker", {enableTime: true});</script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
