

<!DOCTYPE html>
<html>
   <head>
      <title>Event Planner - Schedule and View Your Events</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   </head>
   <body class="container bg-inverse">
      <nav class="navbar bg-inverse d-none d-sm-block">
         <div class="row">
            <div class="col-3 ml-0">
               <a class="navbar-link text-primary" href="#">Planner</a>
            </div>
            <div class="col-6">
            </div>
            <div class="col-3">
               <a class="navbar-link text-primary" href="#">Log Out</a>
            </div>
            <!-- column end -->
         </div>
         <!-- row end -->
      </nav>
      <div class="row">
         <div class="col-sm-3 col-lg-2">
            <nav class="nav flex-sm-column nav-pills">
               <a class="nav-link active text-white" href="#">Events</a>
               <a class="nav-link text-white" href="#">Add</a>
               <a class="nav-link text-primary d-inline d-sm-none" href="#">Log Out</a>
            </nav>
         </div>
         <!-- column end -->
      </div>
      <!-- row end -->
      <div class="card bg-inverse">
         <div class="card-block">
            <h4 class="card-title text-primary">Event</h4>
            <h6 class="card-subtitle mb-2 text-white">Event Time</h6>
            <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-info">View</a>
            <a href="#" class="btn btn-warning">Edit</a>
            <a href="#" class="btn btn-danger">Delete</a>
         </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
   </body>
</html>
