<!DOCTYPE html>
<html>
  <head>
    <title>Event Planner - Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body class="container bg-inverse">
    <form action="login" method="POST">
    <div class="container" style="margin-top:20px;">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6">
          <h3><a class="navbar-link text-primary" href="#">Login</a></h3>
          <div class="card bg-inverse text-light card-outline-primary">
            <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="form-group bg-inverse">
                      <label for="username" class="text-white">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="demo@demo.com">
                    <small class="form-text text-primary">{{.Message}}</small>
                    </div>
                  </div>
                  <!-- column end -->
                </div>
                <!-- row end -->
                <div class="row">
                  <div class="col">
                    <div class="form-group bg-inverse">
                      <label for="password" class="text-white">Password</label>
                      <input type="text" class="form-control" id="password" name="password" value="demo">
                      <small><a href="register" class="form-text text-primary">Register</a></small>

                    </div>
                    <!-- form-group end -->
                  </div>
                  <!-- column end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
          </div>
          <!-- card end -->
          <div class="row">
            <div class="col-6 align-self-start" style="padding-top:10px;">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
            <!-- column end -->
          </div>
          <!-- row end -->
        </div>
        <!-- column end -->
      </div>
      <!-- row end -->
    </div>
    <!-- container end -->
  </form>
  <!-- form end -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
