        <!-- event data start -->
        <div class="col-12 col-md-10">
          <div class="card-deck">
            <div class="card bg-inverse card-outline-primary">
              <div class="card-block">
                <h4 class="card-title text-primary">Event</h4>
                <h6 class="card-subtitle mb-2 text-white">Event Time</h6>
                <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="row">
                  <div class="col-12 col-sm 6">
                    <a href="edit-event" class="btn btn-warning w-100">Edit</a>
                  </div>
                  <!-- column end -->
                  <div class="col-12 col-sm 6">
                    <a href="#" class="btn btn-danger w-100">Delete</a>
                  </div>
                  <!-- column end -->
                </div>
                <!-- row end -->
              </div>
              <!-- card-block end -->
            </div>
            <!-- card end -->
            <div class="card bg-inverse card-outline-primary">
              <div class="card-block">
                <h4 class="card-title text-primary">Event</h4>
                <h6 class="card-subtitle mb-2 text-white">Event Time</h6>
                <p class="card-text text-white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <div class="row">
                  <div class="col-12 col-sm 6">
                    <a href="edit-event" class="btn btn-warning w-100">Edit</a>
                  </div>
                  <!-- column end -->
                  <div class="col-12 col-sm 6">
                    <a href="delete-event" class="btn btn-danger w-100">Delete</a>
                  </div>
                  <!-- column end -->
                </div>
                <!-- row end -->
              </div>
              <!-- card-block end -->
            </div>
            <!-- card end -->
          </div>
          <!-- card end -->
        </div>
        <!-- card-group end -->
      </div>
      <!-- column end -->
    </div>
    <!-- row end -->
    <footer>
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
